/*Remove margin/padding*/
body {
  padding: 0;
  margin: 0;
}

/*screen size*/
#map,
body,
html {
  height: 100%;
}

/*Legend*/
.info.legend {
  background-color: #fff;
  border: transparent; 
  padding: 10px;
  font-size: 14px;
  line-height: 18px;
  color: black;
}

/*colorscale*/
.info.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.8;
}

/*Filter map (gray)*/
.leaflet-tile-pane {
  filter: grayscale(80%);
}
